/* Make the page use the entire screen */

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url("../img/background-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
}

.animate-in {
  -webkit-animation: fadeIn 1s ease-in;
  animation: fadeIn 1s ease-in;
}

.animate-out {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* White rectangle in the middle of the screen */

#main-holder {
  width: 40%;
  height: 80%;
  background-color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#main-holder img {
  padding: 8px;
  background: #766b8f70;
  border-radius: 10px;
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

/* -------------------------------------------------------------- */

/* Middle row of the main grid (contains the error message) */

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

/* Error message. By default it's transparent, but the opacity is controlled
by JavaScript */

#login-error-msg {
  text-align: center;
  margin: 0;
  padding: 4px 40px;
  font-size: 14px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  border-radius: 8px;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

/* -------------------------------------------------------------- */

/* Adjust the positioning of the login form inside the last row of the
main grid */

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-form p {
  margin-bottom: 0;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  padding: 7px 0;
  text-align: center;
  border: 1px solid #3a3a3a;
  transition: all 225ms ease-in-out;
  font-size: 14px;
}

.login-guest-btn:hover {
  cursor: pointer;
  color: white;
  background-color: #3a3a3a;
}

/* Style the login form fields' placeholders */

.login-form-field::placeholder {
  color: #3a3a3a;
  padding-left: 10px;
}

/* Style the login form fields (username and password) */

.login-form-field {
  border: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 5px 0px 5px 5px;
  font-size: 16px;
}

/* Style the login button */

#login-form-submit {
  width: 95%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  text-align: center;
}

#login-form-submit:hover {
  background-color: #1e3190;
  color: white;
}

.example:hover {
  opacity: 0.7;
  transform: scale(1.1);
  transition: 225ms ease-in-out;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #7e6f6f3b;
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin: 0;
  color: #503f3f;
}

.close-button {
  float: right;
  width: 6rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  background-color: #eeeeee;
  margin-top: 18px;
}

.close-button:hover {
  background-color: #adadad;
  transform: scale(1.1);
  transition: 225ms ease-in-out;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  background-image: url("../img/background-home.jpg");
}
