<main>
  <div class="contacts">
    <div class="contacts-profile" *ngFor="let user of userList; let i = index">
      <div class="contacts-header" *ngIf="setHeaders(user)">
        <div class="contacts-alphabet">{{ user.start }}</div>
        <div class="contacts-divider"></div>
      </div>
      <div class="contact-main">
        <span class="contacts-logo">{{ user.start }}{{ user.end }}</span>
        <div class="contacts-info">
          <span> {{ user.firstName }} {{ user.lastName }}</span>
          <span>{{ user.email }}</span>
        </div>
      </div>
    </div>
  </div>
</main>
