$white: white;
$black: black;
$blue: #4589ff;
$lightgrey: #d2e3ff;
$darkblue: #0038ff;
$orange: #ff7a00;
$grey: #a8a8a8;
$design: #FF7A00;
$sales: #FC71FF;
$backoffice: #1FD7C1;
$marketing: #0038FF;

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 30px !important;
}

.design {
  background-color: $design;
  color: $white;
  border-radius: 8px;
  padding: 4px 25px;
  width: fit-content;
}

.sales {
  background-color: $sales;
  color: $white;
  border-radius: 8px;
  padding: 4px 25px;
  width: fit-content;
}

.backoffice {
  background-color: $backoffice;
  color: $white;
  border-radius: 8px;
  padding: 4px 25px;
  width: fit-content;
}

.marketing {
  background-color: $marketing;
  color: $white;
  border-radius: 8px;
  padding: 4px 25px;
  width: fit-content;
}

.board-overview-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: 'Open Sans' !important;
  background-color: $white;
  width: 600px;
  max-height: 650px;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 50px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  
  h1 {
    font-family: 'Open Sans' !important;
    font-size: 61px;
    font-weight: 700;
    line-height: 73px;
  }

  button {
    width: 57px;
    height: 57px;
    background-color: $blue;
    border-radius: 10PX;
    padding: 10px;
    border: none;
    color: $white;
    align-self: flex-end;
    transition: all 125ms ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $darkblue;
    }

    img {
      height: 30px;
    }
  }
}

.board-overview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: $white;
    border-radius: 8px;
    padding: 4px 25px;
    width: fit-content;
  }

  img {
    &:hover {
      cursor: pointer;
    }
  }
}

.board-overview-assignedto {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;

  span:nth-of-type(1) {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    padding: 10px;
    box-sizing: border-box;
  }
}

.board-overview-topic {
  font-size: 21px;
  font-weight: 700;
}

.board-overview-info {
  font-size: 21px;
}
