<div class="board-overview-background">
    <div class="board-overview-container">
      <div class="board-overview-header">
        <span>Sales</span>
        <img src="./assets/img/Board-overview-close.svg">
      </div>
      <h1>Call potential clients</h1>
      <span>Make the products presentation to prospective buyers</span>
      <span><b>Due date: </b>05-08-2022</span>
      <span><b>Protity: </b>Urgent</span>
      <span><b>Assigned to: </b></span>
      <div class="board-overview-assignedto">
        <span>LG</span>
        <span>Leon Groschek</span>
      </div>
    </div>
  </div>
