<div class="board-overview-container">
  <div class="board-overview-header">
    <span
      [ngClass]="{
        design: task.category === 'design',
        sales: task.category === 'sales',
        backoffice: task.category === 'backoffice',
        marketing: task.category === 'marketing'
      }"
      >{{ task.category }}</span
    >
    <img src="./assets/img/Board-overview-close.svg" (click)="onClose()" />
  </div>
  <h1>{{ task.title }}</h1>
  <span class="board-overview-info">{{ task.description }}</span>
  <div>
    <span class="board-overview-topic">Due date: </span>
    <span class="board-overview-info">{{ task.date }}</span>
  </div>
  <div>
    <span class="board-overview-topic">Prority: </span>
    <span class="board-overview-info">{{ task.urgency }}</span>
  </div>
  <span class="board-overview-topic">Assigned to: </span>
  <div class="board-overview-assignedto" *ngFor="let user of task.assignedTo">
    <span class="board-overview-info">{{ user.charAt(0) }}</span>
    <span class="board-overview-info">{{ user }}</span>
  </div>
  <button (click)="openTask(task)"><img src="./assets/img/Edit-task.svg"></button>
</div>
