<main>
    <div class="edit-contact-header">
        <span class="edit-contact-acronym">{{ userService.clickeduser.start}}{{ userService.clickeduser.start}}</span>
        <div class="edit-contact-top">
            <span>{{ userService.clickeduser.firstName }} {{ userService.clickeduser.lastName }}</span>
            <button><img src="./assets/img/Edit-contact-add-task.svg">Add Task</button>
        </div>
    </div>
    <div class="edit-contact-information-container">
        <div class="edit-contact-information">
            <span>Contact Information</span>
            <div class="edit-contact-email">
                <span>Email</span>
                <a href="mailto:{{userService.clickeduser.email}}">{{ userService.clickeduser.email}}</a>
            </div>
            <div class="edit-contact-mobile">
                <span>Mobile</span>
                <span *ngIf="userService.clickeduser.phone">{{ userService.clickeduser.phone }}</span>
                <span *ngIf="!userService.clickeduser.phone"><i>No number deposited</i></span>
            </div>
        </div>
        <button><img src="./assets/img/Edit-contact.svg">Edit Contact</button>
    </div>
</main>
